.dashboard-container {
  display: flex;
  flex-direction: row;
  background-color: #141b2d;
  /* gap: 24px; */
}
.dashboard-sidebar {
  width: 250px;
  background-color: #242c40;
  height: 100vh;
}

.dashboard-main {
  width: 90%;
  height: 100vh;
}

.active {
  background-color: #141b2d;
  color: #fff;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.nav-link {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 20px;
  padding: 12px;
  margin: 12px 0px;
  text-align: center;
}

.logout-btn {
  background-color: #242c40;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 12px;
  font-size: 20px;
  cursor: pointer;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.logout-btn:hover {
  background-color: #141b2d;
}

.logout-btn:active {
  background-color: white;
  color: black;
}
